[submodule "CustomEngine/vendor/spdlog"]
	path = CustomEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CustomEngine/vendor/GLFW"]
	path = CustomEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
